<header class="header">
	<div class="brand-box">
		<span class="brand"><a id="signin">Sign In</a> |  <a id="signup">Sign Up</a></span>
	</div>
	
	<div class="text-box">
		<h1 class="heading-primary">
			<span class="heading-primary-main">Connect Peoples Hobbies</span>
			<span class="heading-primary-sub">Register Now For Full Experience</span>
		</h1>
        		<a  onclick="" href="/users/feed" class="btn btn-white btn-animated">Explore</a>


	</div>
