<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posts by Date Chart</title>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <link rel="stylesheet" href="/assets/css/statistics/post-graph.css">
</head>
<body>
    <h1>Posts by Date</h1>
    <div class="chart-container">
        <svg id="postsChart"></svg>
    </div>

    <script src="/assets/script/statistics/post-graph.js"></script>
</body>
    <%- include('../user/layout', { showFloatingRedirect: true }) %> 

</html>
