<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Friend Graph</title>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <link rel="stylesheet" href="/assets/css/statistics/users-network.css">
</head>
<body>
    <h1>User Friend Graph</h1>
    <div class="graph-container">
        <svg id="forceGraph"></svg>
    </div>

    <script src="/assets/script/statistics/users-network.js"></script>

</body>
    <%- include('../user/layout', { showFloatingRedirect: true }) %> 

</html>
